body {
  background-color: blueviolet;
  color: white;
}

.input-group {
  max-width: 600px;
  margin: 0 auto;
}

.list-group-item {
  background-color: blueviolet;
  border: 1px solid white;
  color: white;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

